In [1]:
import findspark
findspark.init("C:\spark-3.0.2-bin-hadoop2.7")
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

In [2]:
import boto3
from os import path
import pandas as pd
import os
import json

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("local").getOrCreate()

In [4]:
from pyspark.sql.functions import *

In [5]:
AWS_S3_CREDS = {
    "aws_access_key_id":"AKIATY2OQ5FJO36ANX27", # os.getenv("AWS_ACCESS_KEY")
    "aws_secret_access_key":"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" # os.getenv("AWS_SECRET_KEY")
}

s3=boto3.client('s3',**AWS_S3_CREDS)

In [6]:
buckets=s3.list_buckets()
buckets=buckets['Buckets']

In [7]:
for i in buckets:
    print('Bucket_Name:'+ i['Name'])

Bucket_Name:aes-siem-259473336658-log
Bucket_Name:aws-apache-to-json-dev-serverlessdeploymentbucket-k0y4mdbde3ne
Bucket_Name:aws-associate-account
Bucket_Name:aws-athena-query-results-us-east-2-259473336658
Bucket_Name:aws-cloudtrail-logs-259473336658-2a9c93d2
Bucket_Name:aws-cloudtrail-logs-259473336658-34ac90d5
Bucket_Name:aws-cloudtrail-logs-259473336658-5a24857e
Bucket_Name:aws-cloudtrail-logs-259473336658-d4e4b384
Bucket_Name:aws-cloudtrail-logs-259473336658-e6a4538b
Bucket_Name:aws-glue-scripts-259473336658-ap-south-1
Bucket_Name:aws-glue-scripts-259473336658-us-east-1
Bucket_Name:aws-glue-scripts-259473336658-us-east-2
Bucket_Name:aws-glue-scripts-259473336658-us-west-1
Bucket_Name:aws-glue-temporary-259473336658-ap-south-1
Bucket_Name:aws-glue-temporary-259473336658-us-east-1
Bucket_Name:aws-glue-temporary-259473336658-us-east-2
Bucket_Name:aws-glue-temporary-259473336658-us-west-1
Bucket_Name:aws-waf-dashboard-kinesisfirehoses3bucket-1y1ysi8b0p6j7
Bucket_Name:aws-waf-dashboard-kinesisfirehoses3bucket-fdwrd50aj8dw
Bucket_Name:awskniesispoc
Bucket_Name:cf-templates-18z5ae3qs9jgr-ap-south-1
Bucket_Name:cf-templates-18z5ae3qs9jgr-us-east-1
Bucket_Name:config-bucket-259473336658
Bucket_Name:databucket-de
Bucket_Name:demo-glue-etl
Bucket_Name:edc-analytics-reporting-data
Bucket_Name:edc-test-data
Bucket_Name:elasticbeanstalk-us-east-1-259473336658
Bucket_Name:elk-custom-lambda-code-base
Bucket_Name:function-beat-deploy
Bucket_Name:lambda-poc-courses
Bucket_Name:lambdacostbuckets
Bucket_Name:logs4elastic-cloud
Bucket_Name:logsofguardduty
Bucket_Name:migration-accelerator-logstash-config
Bucket_Name:my-athena-db-1
Bucket_Name:mysamplebucketsakthi
Bucket_Name:perf-test-case
Bucket_Name:piyush1111
Bucket_Name:rahul-casestudy-demo
Bucket_Name:sqs-bucket-sqshft
Bucket_Name:sqshift-covid-data
Bucket_Name:test-bucket-for-s3-snapshots
Bucket_Name:test-sqsft
Bucket_Name:tst-edc-analytics-us-east-1-qa-01
Bucket_Name:vaan-test-bucket1
Bucket_Name:vaan-test-bucket2
Bucket_Name:vaan-test-bucket3
Bucket_Name:vpclogs-elastic
Bucket_Name:waf-bucket-2021

In [8]:
df=spark.read.csv('C://Users//abdulki//output//stock_analysis-main//symbol_metadata.csv',header=True,inferSchema=True)

In [9]:
df.printSchema()

root
 |-- Symbol: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Sector: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Address: string (nullable = true)

In [10]:
df.createOrReplaceTempView("metadata")

In [11]:
df.show()

+------+--------------------+-------+--------------------+--------------------+--------------------+
|Symbol|                Name|Country|              Sector|            Industry|             Address|
+------+--------------------+-------+--------------------+--------------------+--------------------+
|  AAPL|           Apple Inc|    USA|          TECHNOLOGY|ELECTRONIC COMPUTERS|ONE INFINITE LOOP...|
|  DELL|Dell Technologies...|    USA|          TECHNOLOGY|ELECTRONIC COMPUTERS|ONE DELL WAY, ROU...|
|  NTAP|          NetApp Inc|    USA|          TECHNOLOGY|COMPUTER STORAGE ...|3060 OLSEN DRIVE,...|
|  QMCO| Quantum Corporation|    USA|          TECHNOLOGY|COMPUTER STORAGE ...|224 AIRPORT PARKW...|
|  ACNB|    ACNB Corporation|    USA|             FINANCE|STATE COMMERCIAL ...|16 LINCOLN SQUARE...|
|  BCML|         BayCom Corp|    USA|             FINANCE|STATE COMMERCIAL ...|500 YGNACIO VALLE...|
|  MYFW|First Western Fin...|    USA|             FINANCE|STATE COMMERCIAL ...|1900 SIXTEENTH ST...|
|  ADUS|Addus HomeCare Co...|    USA|       LIFE SCIENCES|SERVICES-HOME HEA...|6801 GAYLORD PARK...|
|   CAH| Cardinal Health Inc|    USA|    TRADE & SERVICES|WHOLESALE-DRUGS, ...|7000 CARDINAL PLA...|
|  CMAX|         CareMax Inc|    USA|REAL ESTATE & CON...|        BLANK CHECKS|780 THIRD AVENUE,...|
|    AA|   Alcoa Corporation|    USA|       MANUFACTURING|PRIMARY PRODUCTIO...|201 ISABELLA STRE...|
|   AGI|     Alamos Gold Inc|    USA|ENERGY & TRANSPOR...|GOLD AND SILVER ORES|181 BAY STREET, S...|
|   ASM|Avino Silver & Go...|    USA|ENERGY & TRANSPOR...|        METAL MINING|SUITE 900, 570 GR...|
|   BHP|           BHP Group|    USA|ENERGY & TRANSPOR...|        METAL MINING|16/171 COLLINS ST...|
|   CDE|    Coeur Mining Inc|    USA|ENERGY & TRANSPOR...|GOLD AND SILVER ORES|104 SOUTH MICHIGA...|
|   FSM|Fortuna Silver Mi...|    USA|ENERGY & TRANSPOR...|GOLD AND SILVER ORES|200 BURRARD ST, S...|
|   AAC|Ares Acquisition ...|    USA|REAL ESTATE & CON...|        BLANK CHECKS|245 PARK AVENUE, ...|
|   BWC|Blue Whale Acquis...|    USA|REAL ESTATE & CON...|        BLANK CHECKS|PO BOX 1093, BOUN...|
|     A|Agilent Technolog...|    USA|       LIFE SCIENCES|INSTRUMENTS FOR M...|5301 STEVENS CREE...|
|   AAL|American Airlines...|    USA|ENERGY & TRANSPOR...|AIR TRANSPORTATIO...|1 SKYVIEW DRIVE, ...|
+------+--------------------+-------+--------------------+--------------------+--------------------+

In [12]:
df_tech=df.filter(df.Sector=='TECHNOLOGY')
df_tech.show()

+------+--------------------+-------+----------+--------------------+--------------------+
|Symbol|                Name|Country|    Sector|            Industry|             Address|
+------+--------------------+-------+----------+--------------------+--------------------+
|  AAPL|           Apple Inc|    USA|TECHNOLOGY|ELECTRONIC COMPUTERS|ONE INFINITE LOOP...|
|  DELL|Dell Technologies...|    USA|TECHNOLOGY|ELECTRONIC COMPUTERS|ONE DELL WAY, ROU...|
|  NTAP|          NetApp Inc|    USA|TECHNOLOGY|COMPUTER STORAGE ...|3060 OLSEN DRIVE,...|
|  QMCO| Quantum Corporation|    USA|TECHNOLOGY|COMPUTER STORAGE ...|224 AIRPORT PARKW...|
+------+--------------------+-------+----------+--------------------+--------------------+

In [13]:
df_fin=df.filter(df.Sector=='FINANCE')
df_fin.show()

+------+--------------------+-------+-------+--------------------+--------------------+
|Symbol|                Name|Country| Sector|            Industry|             Address|
+------+--------------------+-------+-------+--------------------+--------------------+
|  ACNB|    ACNB Corporation|    USA|FINANCE|STATE COMMERCIAL ...|16 LINCOLN SQUARE...|
|  BCML|         BayCom Corp|    USA|FINANCE|STATE COMMERCIAL ...|500 YGNACIO VALLE...|
|  MYFW|First Western Fin...|    USA|FINANCE|STATE COMMERCIAL ...|1900 SIXTEENTH ST...|
+------+--------------------+-------+-------+--------------------+--------------------+

In [14]:
path_tech=['C://Users//abdulki//output//stock_analysis-main//AAPL.csv', \
     'C://Users//abdulki//output//stock_analysis-main//DELL.csv', \
     'C://Users//abdulki//output//stock_analysis-main//NTAP.csv', \
     'C://Users//abdulki//output//stock_analysis-main//QMCO.csv']
path_fin=['C://Users//abdulki//output//stock_analysis-main//ACNB.csv', \
     'C://Users//abdulki//output//stock_analysis-main//BCML.csv', \
     'C://Users//abdulki//output//stock_analysis-main//MYFW.csv']

In [15]:
df_fin_main=spark.read.options(header=True).csv(path_fin)

##### Checking NULL Values

In [16]:
df_fin_main.filter(df_fin_main.timestamp.isNull()).show()

+---------+----+----+---+-----+------+
|timestamp|open|high|low|close|volume|
+---------+----+----+---+-----+------+
+---------+----+----+---+-----+------+

In [17]:
df_fin_main.show()

+----------+-------+-------+-------+-------+------+
| timestamp|   open|   high|    low|  close|volume|
+----------+-------+-------+-------+-------+------+
|2022-03-15|32.7500|33.4899|32.2700|32.6000| 45586|
|2022-03-14|32.7952|33.4100|32.3600|32.6600| 59304|
|2022-03-11|32.8700|32.9700|32.6000|32.8300|  4552|
|2022-03-10|32.8400|33.0800|32.5800|32.6800|  8365|
|2022-03-09|32.5971|33.3900|32.5971|32.8400|  4408|
|2022-03-08|33.0000|33.2000|32.5500|32.6700| 21573|
|2022-03-07|33.1200|33.3000|32.7500|32.8200| 12102|
|2022-03-04|32.9000|33.5100|32.5000|33.4700| 22346|
|2022-03-03|32.4000|33.0800|32.2500|32.8000| 10690|
|2022-03-02|32.2000|33.0800|32.2000|32.9400|  5587|
|2022-03-01|31.9200|32.2000|31.8100|32.0300| 11896|
|2022-02-28|31.8500|32.2800|31.8500|32.1800|  8273|
|2022-02-25|31.9352|32.2400|31.8100|32.0800|  7480|
|2022-02-24|31.8400|32.1800|31.6100|31.9750|  7935|
|2022-02-23|32.1000|32.4000|31.8750|31.9400|  8596|
|2022-02-22|32.0700|32.7500|31.8300|31.9300| 14033|
|2022-02-18|32.3500|32.6000|32.1100|32.3000|  9853|
|2022-02-17|32.2900|32.9400|32.0300|32.3500|  7373|
|2022-02-16|33.0400|33.0400|32.2800|32.6900|  2948|
|2022-02-15|32.9636|32.9636|32.2600|32.8100|  6121|
+----------+-------+-------+-------+-------+------+
only showing top 20 rows

In [18]:
df_tech_main=spark.read.options(header=True).csv(path_tech)

##### Checking NULL Values

In [19]:
df_fin_main.filter(df_fin_main.timestamp.isNull()).show()

+---------+----+----+---+-----+------+
|timestamp|open|high|low|close|volume|
+---------+----+----+---+-----+------+
+---------+----+----+---+-----+------+

In [20]:
df_tech_main.show()

+----------+--------+--------+--------+--------+---------+
| timestamp|    open|    high|     low|   close|   volume|
+----------+--------+--------+--------+--------+---------+
|2022-03-15|150.9000|155.5700|150.3800|155.0900| 92964302|
|2022-03-14|151.4500|154.1200|150.1000|150.6200|108732111|
|2022-03-11|158.9300|159.2800|154.5000|154.7300| 96970102|
|2022-03-10|160.2000|160.3900|155.9800|158.5200|105342033|
|2022-03-09|161.4750|163.4100|159.4100|162.9500| 91454905|
|2022-03-08|158.8200|162.8800|155.8000|157.4400|131148280|
|2022-03-07|163.3600|165.0200|159.0400|159.3000| 96418845|
|2022-03-04|164.4900|165.5500|162.1000|163.1700| 83819592|
|2022-03-03|168.4700|168.9100|165.5500|166.2300| 76678441|
|2022-03-02|164.3900|167.3600|162.9500|166.5600| 79724750|
|2022-03-01|164.6950|166.6000|161.9700|163.2000| 83474425|
|2022-02-28|163.0600|165.4200|162.4300|165.1200| 95056629|
|2022-02-25|163.8400|165.1200|160.8738|164.8500| 91974222|
|2022-02-24|152.5800|162.8500|152.0000|162.7400|141147540|
|2022-02-23|165.5400|166.1500|159.7500|160.0700| 90009247|
|2022-02-22|164.9800|166.6900|162.1500|164.3200| 90457637|
|2022-02-18|169.8200|170.5413|166.1900|167.3000| 82772674|
|2022-02-17|171.0300|171.9100|168.4700|168.8800| 69589344|
|2022-02-16|171.8500|173.3400|170.0500|172.5500| 61177398|
|2022-02-15|170.9700|172.9500|170.2500|172.7900| 64286320|
+----------+--------+--------+--------+--------+---------+
only showing top 20 rows

In [21]:
df_finance=df_fin_main.withColumn('Sector',lit('FINANCE'))

In [22]:
df_finance.show()

+----------+-------+-------+-------+-------+------+-------+
| timestamp|   open|   high|    low|  close|volume| Sector|
+----------+-------+-------+-------+-------+------+-------+
|2022-03-15|32.7500|33.4899|32.2700|32.6000| 45586|FINANCE|
|2022-03-14|32.7952|33.4100|32.3600|32.6600| 59304|FINANCE|
|2022-03-11|32.8700|32.9700|32.6000|32.8300|  4552|FINANCE|
|2022-03-10|32.8400|33.0800|32.5800|32.6800|  8365|FINANCE|
|2022-03-09|32.5971|33.3900|32.5971|32.8400|  4408|FINANCE|
|2022-03-08|33.0000|33.2000|32.5500|32.6700| 21573|FINANCE|
|2022-03-07|33.1200|33.3000|32.7500|32.8200| 12102|FINANCE|
|2022-03-04|32.9000|33.5100|32.5000|33.4700| 22346|FINANCE|
|2022-03-03|32.4000|33.0800|32.2500|32.8000| 10690|FINANCE|
|2022-03-02|32.2000|33.0800|32.2000|32.9400|  5587|FINANCE|
|2022-03-01|31.9200|32.2000|31.8100|32.0300| 11896|FINANCE|
|2022-02-28|31.8500|32.2800|31.8500|32.1800|  8273|FINANCE|
|2022-02-25|31.9352|32.2400|31.8100|32.0800|  7480|FINANCE|
|2022-02-24|31.8400|32.1800|31.6100|31.9750|  7935|FINANCE|
|2022-02-23|32.1000|32.4000|31.8750|31.9400|  8596|FINANCE|
|2022-02-22|32.0700|32.7500|31.8300|31.9300| 14033|FINANCE|
|2022-02-18|32.3500|32.6000|32.1100|32.3000|  9853|FINANCE|
|2022-02-17|32.2900|32.9400|32.0300|32.3500|  7373|FINANCE|
|2022-02-16|33.0400|33.0400|32.2800|32.6900|  2948|FINANCE|
|2022-02-15|32.9636|32.9636|32.2600|32.8100|  6121|FINANCE|
+----------+-------+-------+-------+-------+------+-------+
only showing top 20 rows

In [23]:
df_technology=df_tech_main.withColumn('Sector',lit('TECHNOLOGY'))

In [24]:
df_technology.show()

+----------+--------+--------+--------+--------+---------+----------+
| timestamp|    open|    high|     low|   close|   volume|    Sector|
+----------+--------+--------+--------+--------+---------+----------+
|2022-03-15|150.9000|155.5700|150.3800|155.0900| 92964302|TECHNOLOGY|
|2022-03-14|151.4500|154.1200|150.1000|150.6200|108732111|TECHNOLOGY|
|2022-03-11|158.9300|159.2800|154.5000|154.7300| 96970102|TECHNOLOGY|
|2022-03-10|160.2000|160.3900|155.9800|158.5200|105342033|TECHNOLOGY|
|2022-03-09|161.4750|163.4100|159.4100|162.9500| 91454905|TECHNOLOGY|
|2022-03-08|158.8200|162.8800|155.8000|157.4400|131148280|TECHNOLOGY|
|2022-03-07|163.3600|165.0200|159.0400|159.3000| 96418845|TECHNOLOGY|
|2022-03-04|164.4900|165.5500|162.1000|163.1700| 83819592|TECHNOLOGY|
|2022-03-03|168.4700|168.9100|165.5500|166.2300| 76678441|TECHNOLOGY|
|2022-03-02|164.3900|167.3600|162.9500|166.5600| 79724750|TECHNOLOGY|
|2022-03-01|164.6950|166.6000|161.9700|163.2000| 83474425|TECHNOLOGY|
|2022-02-28|163.0600|165.4200|162.4300|165.1200| 95056629|TECHNOLOGY|
|2022-02-25|163.8400|165.1200|160.8738|164.8500| 91974222|TECHNOLOGY|
|2022-02-24|152.5800|162.8500|152.0000|162.7400|141147540|TECHNOLOGY|
|2022-02-23|165.5400|166.1500|159.7500|160.0700| 90009247|TECHNOLOGY|
|2022-02-22|164.9800|166.6900|162.1500|164.3200| 90457637|TECHNOLOGY|
|2022-02-18|169.8200|170.5413|166.1900|167.3000| 82772674|TECHNOLOGY|
|2022-02-17|171.0300|171.9100|168.4700|168.8800| 69589344|TECHNOLOGY|
|2022-02-16|171.8500|173.3400|170.0500|172.5500| 61177398|TECHNOLOGY|
|2022-02-15|170.9700|172.9500|170.2500|172.7900| 64286320|TECHNOLOGY|
+----------+--------+--------+--------+--------+---------+----------+
only showing top 20 rows

In [25]:
df_fin_tech=df_finance.union(df_technology)

In [26]:
df_fin_tech.show()

+----------+-------+-------+-------+-------+------+-------+
| timestamp|   open|   high|    low|  close|volume| Sector|
+----------+-------+-------+-------+-------+------+-------+
|2022-03-15|32.7500|33.4899|32.2700|32.6000| 45586|FINANCE|
|2022-03-14|32.7952|33.4100|32.3600|32.6600| 59304|FINANCE|
|2022-03-11|32.8700|32.9700|32.6000|32.8300|  4552|FINANCE|
|2022-03-10|32.8400|33.0800|32.5800|32.6800|  8365|FINANCE|
|2022-03-09|32.5971|33.3900|32.5971|32.8400|  4408|FINANCE|
|2022-03-08|33.0000|33.2000|32.5500|32.6700| 21573|FINANCE|
|2022-03-07|33.1200|33.3000|32.7500|32.8200| 12102|FINANCE|
|2022-03-04|32.9000|33.5100|32.5000|33.4700| 22346|FINANCE|
|2022-03-03|32.4000|33.0800|32.2500|32.8000| 10690|FINANCE|
|2022-03-02|32.2000|33.0800|32.2000|32.9400|  5587|FINANCE|
|2022-03-01|31.9200|32.2000|31.8100|32.0300| 11896|FINANCE|
|2022-02-28|31.8500|32.2800|31.8500|32.1800|  8273|FINANCE|
|2022-02-25|31.9352|32.2400|31.8100|32.0800|  7480|FINANCE|
|2022-02-24|31.8400|32.1800|31.6100|31.9750|  7935|FINANCE|
|2022-02-23|32.1000|32.4000|31.8750|31.9400|  8596|FINANCE|
|2022-02-22|32.0700|32.7500|31.8300|31.9300| 14033|FINANCE|
|2022-02-18|32.3500|32.6000|32.1100|32.3000|  9853|FINANCE|
|2022-02-17|32.2900|32.9400|32.0300|32.3500|  7373|FINANCE|
|2022-02-16|33.0400|33.0400|32.2800|32.6900|  2948|FINANCE|
|2022-02-15|32.9636|32.9636|32.2600|32.8100|  6121|FINANCE|
+----------+-------+-------+-------+-------+------+-------+
only showing top 20 rows

In [27]:
df_fin_tech.createOrReplaceTempView("fin_tech")

In [28]:
df_fin_tech.show()

+----------+-------+-------+-------+-------+------+-------+
| timestamp|   open|   high|    low|  close|volume| Sector|
+----------+-------+-------+-------+-------+------+-------+
|2022-03-15|32.7500|33.4899|32.2700|32.6000| 45586|FINANCE|
|2022-03-14|32.7952|33.4100|32.3600|32.6600| 59304|FINANCE|
|2022-03-11|32.8700|32.9700|32.6000|32.8300|  4552|FINANCE|
|2022-03-10|32.8400|33.0800|32.5800|32.6800|  8365|FINANCE|
|2022-03-09|32.5971|33.3900|32.5971|32.8400|  4408|FINANCE|
|2022-03-08|33.0000|33.2000|32.5500|32.6700| 21573|FINANCE|
|2022-03-07|33.1200|33.3000|32.7500|32.8200| 12102|FINANCE|
|2022-03-04|32.9000|33.5100|32.5000|33.4700| 22346|FINANCE|
|2022-03-03|32.4000|33.0800|32.2500|32.8000| 10690|FINANCE|
|2022-03-02|32.2000|33.0800|32.2000|32.9400|  5587|FINANCE|
|2022-03-01|31.9200|32.2000|31.8100|32.0300| 11896|FINANCE|
|2022-02-28|31.8500|32.2800|31.8500|32.1800|  8273|FINANCE|
|2022-02-25|31.9352|32.2400|31.8100|32.0800|  7480|FINANCE|
|2022-02-24|31.8400|32.1800|31.6100|31.9750|  7935|FINANCE|
|2022-02-23|32.1000|32.4000|31.8750|31.9400|  8596|FINANCE|
|2022-02-22|32.0700|32.7500|31.8300|31.9300| 14033|FINANCE|
|2022-02-18|32.3500|32.6000|32.1100|32.3000|  9853|FINANCE|
|2022-02-17|32.2900|32.9400|32.0300|32.3500|  7373|FINANCE|
|2022-02-16|33.0400|33.0400|32.2800|32.6900|  2948|FINANCE|
|2022-02-15|32.9636|32.9636|32.2600|32.8100|  6121|FINANCE|
+----------+-------+-------+-------+-------+------+-------+
only showing top 20 rows

In [29]:
start_date='20210101'
end_date='20210526'

In [30]:
fin_tech_query="select Sector,avg(open) as Avg_Open_Price,avg(close) as Avg_Close_Price,max(high) as Max_High_Price, \
                    min(low) as Min_Low_Price,avg(volume) as Avg_Volume from fin_tech  \
                    where timestamp between to_date('{start_date}','yyyyMMdd') AND to_date('{end_date}','yyyyMMdd')  \
                    group by Sector".format(start_date=start_date,end_date=end_date)

In [31]:
df_final=spark.sql(fin_tech_query)

#### Performance Analysis Of Each Sector

In [32]:
df_final.show()

+----------+------------------+------------------+--------------+-------------+-----------------+
|    Sector|    Avg_Open_Price|   Avg_Close_Price|Max_High_Price|Min_Low_Price|       Avg_Volume|
+----------+------------------+------------------+--------------+-------------+-----------------+
|TECHNOLOGY|       73.75985925| 73.78558749999998|       99.8300|     100.1100|   2.6564664765E7|
|   FINANCE|22.720877000000005|22.746800000000004|       33.7388|      14.3800|25015.77666666667|
+----------+------------------+------------------+--------------+-------------+-----------------+

In [52]:
df_final.coalesce(1).write.csv("C://Users//abdulki//output//stock_analysis-main//performance_analysis",header=True)

In [35]:
df_tech_apple=spark.read.csv("C://Users//abdulki//output//stock_analysis-main//AAPL.csv",header=True,inferSchema=True)
df_tech_dell=spark.read.csv("C://Users//abdulki//output//stock_analysis-main//DELL.csv",header=True,inferSchema=True)
df_tech_net=spark.read.csv("C://Users//abdulki//output//stock_analysis-main//NTAP.csv",header=True,inferSchema=True)

In [36]:
df_tech_apple=df_tech_apple.withColumn("Symbol",lit("AAPL"))

In [37]:
df_tech_dell=df_tech_apple.withColumn("Symbol",lit("DELL"))

In [38]:
df_tech_net=df_tech_net.withColumn("Symbol",lit("NTAP"))

In [39]:
df_techs=df_tech_apple.union(df_tech_dell).union(df_tech_net)

In [40]:
df_techs.show()

+----------+-------+--------+--------+------+---------+------+
| timestamp|   open|    high|     low| close|   volume|Symbol|
+----------+-------+--------+--------+------+---------+------+
|2022-03-15|  150.9|  155.57|  150.38|155.09| 92964302|  AAPL|
|2022-03-14| 151.45|  154.12|   150.1|150.62|108732111|  AAPL|
|2022-03-11| 158.93|  159.28|   154.5|154.73| 96970102|  AAPL|
|2022-03-10|  160.2|  160.39|  155.98|158.52|105342033|  AAPL|
|2022-03-09|161.475|  163.41|  159.41|162.95| 91454905|  AAPL|
|2022-03-08| 158.82|  162.88|   155.8|157.44|131148280|  AAPL|
|2022-03-07| 163.36|  165.02|  159.04| 159.3| 96418845|  AAPL|
|2022-03-04| 164.49|  165.55|   162.1|163.17| 83819592|  AAPL|
|2022-03-03| 168.47|  168.91|  165.55|166.23| 76678441|  AAPL|
|2022-03-02| 164.39|  167.36|  162.95|166.56| 79724750|  AAPL|
|2022-03-01|164.695|   166.6|  161.97| 163.2| 83474425|  AAPL|
|2022-02-28| 163.06|  165.42|  162.43|165.12| 95056629|  AAPL|
|2022-02-25| 163.84|  165.12|160.8738|164.85| 91974222|  AAPL|
|2022-02-24| 152.58|  162.85|   152.0|162.74|141147540|  AAPL|
|2022-02-23| 165.54|  166.15|  159.75|160.07| 90009247|  AAPL|
|2022-02-22| 164.98|  166.69|  162.15|164.32| 90457637|  AAPL|
|2022-02-18| 169.82|170.5413|  166.19| 167.3| 82772674|  AAPL|
|2022-02-17| 171.03|  171.91|  168.47|168.88| 69589344|  AAPL|
|2022-02-16| 171.85|  173.34|  170.05|172.55| 61177398|  AAPL|
|2022-02-15| 170.97|  172.95|  170.25|172.79| 64286320|  AAPL|
+----------+-------+--------+--------+------+---------+------+
only showing top 20 rows

In [41]:
df_techs.createOrReplaceTempView("technology")

In [42]:
#Joining the technology table with metadate table to get the Name
tech_query="select m.Symbol,m.Name,avg(open) as Avg_Open_Price,avg(close) as Avg_Close_Price,max(high) as Max_High_Price, \
                    min(low) as Min_Low_Price,avg(volume) as Avg_Volume from technology t inner join metadata m on \
                    t.Symbol=m.Symbol where timestamp between to_date('{start_date}','yyyyMMdd') AND \
                    to_date('{end_date}','yyyyMMdd') group by m.Symbol,m.Name order by m.Symbol" \
                    .format(start_date=start_date,end_date=end_date)

In [43]:
df_final_res=spark.sql(tech_query)

#### Detailed of Technology report

In [44]:
df_final_res.show(truncate=False)

+------+----------------------+------------------+------------------+--------------+-------------+--------------+
|Symbol|Name                  |Avg_Open_Price    |Avg_Close_Price   |Max_High_Price|Min_Low_Price|Avg_Volume    |
+------+----------------------+------------------+------------------+--------------+-------------+--------------+
|AAPL  |Apple Inc             |128.99165000000002|128.83689999999996|145.09        |116.21       |1.0151653364E8|
|DELL  |Dell Technologies Inc.|128.99165000000002|128.83689999999996|145.09        |116.21       |1.0151653364E8|
|NTAP  |NetApp Inc            |70.70339600000003 |70.80434999999997 |79.82         |58.83        |1788043.92    |
+------+----------------------+------------------+------------------+--------------+-------------+--------------+

In [53]:
df_final_res.coalesce(1).write.csv("C://Users//abdulki//output//stock_analysis-main//detailed_report",header=True)

In [54]:
#function to upload files to s3
def upload_to_s3(files, bucket,s3obj):
    s3 = boto3.client('s3',**AWS_S3_CREDS)
    try:
        s3.upload_file(files, bucket,s3obj)
        print("Uploaded file to S3")
    except Exception as e:
        print(e)
        return False
    return True

In [55]:
upload_to_s3("C://Users//abdulki//output//stock_analysis-main//detailed_report.csv",'aws-athena-query-results-us-east-2-259473336658','stock_analysis')

Uploaded file to S3

True

In [56]:
upload_to_s3("C://Users//abdulki//output//stock_analysis-main//performance_analysis.csv",'aws-athena-query-results-us-east-2-259473336658','stock_analysis')

Uploaded file to S3

True